<h1>{{oneCurrency.id}}</h1>
  <mat-list role="list">
      <mat-list-item role="listitem">code: {{oneCurrency.attributes.code}}</mat-list-item>
    <mat-list-item role="listitem">code: {{oneCurrency.attributes.code}}</mat-list-item>
    <mat-list-item role="listitem">name: {{oneCurrency.attributes.name}}</mat-list-item>
    <mat-list-item role="listitem">type: {{oneCurrency.attributes.currency_type}}</mat-list-item>
    <mat-list-item role="listitem">code_iso_numeric3: {{oneCurrency.attributes.code_iso_numeric3}}</mat-list-item>
    <mat-list-item role="listitem">code_iso_alpha3: {{oneCurrency.attributes.code_iso_alpha3}}</mat-list-item>
    <mat-list-item role="listitem">symbol: {{oneCurrency.attributes.symbol}}</mat-list-item>
    <mat-list-item role="listitem">native symbol: {{oneCurrency.attributes.native_symbol}}</mat-list-item>
    <mat-list-item role="listitem">decimal e: {{oneCurrency.attributes.native_symbol}}</mat-list-item>
    <mat-list-item role="listitem">category: {{oneCurrency.attributes.category}}</mat-list-item>
  </mat-list>

